.footer {
  background: #141414;
  position: relative;
}

.footer::before {
  content: "";
  display: block;
  width: 100px;
  height: 82px;
  top: 0px;
  left: 0px;
  background: url(../img/detalhe.svg) no-repeat center;
  position: absolute;
  top: -90px;
  left: 130px;
}

.footer-container {
  padding: 80px 20px 60px 20px;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.footer-texto {
  font-size: 1.5rem;
  color: #cccccc;
  line-height: 2.125rem;
  max-width: 32ch;
}

.footer-contato li {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 30px;
  position: relative;
}

.footer-contato li:first-child:before {
  content: "";
  position: absolute;
  background: url(../img/email.svg) no-repeat center;
  width: 32px;
  height: 32px;
  left: -45px;
  top: -5px;
}

.footer-contato li:nth-child(2):before {
  content: "";
  position: absolute;
  background: url(../img/telefone.svg) no-repeat center;
  width: 32px;
  height: 32px;
  left: -45px;
  top: -5px;
}

.whatszapp::after {
  content: "";
  position: absolute;
  background: url(../img/whatsapp\ 3.svg) no-repeat center;
  width: 32px;
  height: 32px;
  left: -45px;
  top: 20px;
}

.linkedin::before {
  content: "";
  position: absolute;
  background: url(../img/linkedin.svg) no-repeat, center;
  width: 32px;
  height: 32px;
  left: 30px;
  top: 20px;
}

.footer-copy {
  grid-column: 1 / -1;
  color: #a3a3a3;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.125;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    padding-top: 20px;
    gap: 50px;
  }
  .footer-contato li {
    font-size: 1.125rem;
    margin-left: 45px;
  }

  .linkedin::before {
    content: "";
    position: absolute;
    background: url(../img/linkedin.svg) no-repeat center;
    width: 32px;
    height: 32px;
    left: 20px;
    top: -5px;
    padding: 5px;
  }

  .whatszapp::after {
    content: "";
    position: absolute;
    background: url(../img/whatsapp\ 3.svg) no-repeat center;
    width: 32px;
    height: 32px;
    left: -45px;
    top: -5px;
    padding: 5px;
  }
}
